#game { 
     width: 100%; 
     height: 200px; 
     border: 2px solid #000; 
 } 
  
 #personagem { 
     width: 20px; 
     height: 50px; 
     background-color: #ff0000; 
     position: relative; 
     top: 150px; 
     animation: personagem 500ms infinite; 
 } 
  
 .animar { 
     animation: personagem 500ms infinite; 
 } 
  
 @keyframes personagem { 
     0%{top: 150px;} 
     30%{top: 100px;} 
     70%{top: 100px;} 
     100%{top: 150px;} 
 } 
  
 #quadrado { 
     width: 20px; 
     height: 20px; 
     background-color: blue; 
     position: relative; 
     top: 130px; 
     left: 480px; 
     animation: quadrado 1s; 
 } 
  
 @keyframes quadrado { 
     0%{left: 480px;} 
     100%{left: -40px;} 
 }